@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Images: Get the image list</li>
            <li>Search Images</li>
        </ul>
    </div>
</div>
