@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Application uses</h2>
        <ul>
            <li><b>Image Gallery</b> Menu</li>
            <li>Get images from Cache</li>
            <li>Search images by Author or Camera</li>
            <li>Set cache at startup page</li>
        </ul>   
    </div>
</div>
